@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: 'wotfard';
      src: url('https://cartedata.com/static/fonts/wotfard-bold-webfont.eot');
      src: url('https://cartedata.com/static/fonts/wotfard-bold-webfont.eot?#iefix') format('embedded-opentype'),
          url('https://cartedata.com/static/fonts/wotfard-bold-webfont.woff2') format('woff2'),
          url('https://cartedata.com/static/fonts/wotfard-bold-webfont.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
  }

  @font-face {
      font-family: 'wotfard';
      src: url('https://cartedata.com/static/fonts/wotfard-light-webfont.eot');
      src: url('https://cartedata.com/static/fonts/wotfard-light-webfont.eot?#iefix') format('embedded-opentype'),
          url('https://cartedata.com/static/fonts/wotfard-light-webfont.woff2') format('woff2'),
          url('https://cartedata.com/static/fonts/wotfard-light-webfont.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'wotfard';
      src: url('https://cartedata.com/static/fonts/wotfard-medium-webfont.eot');
      src: url('https://cartedata.com/static/fonts/wotfard-medium-webfont.eot?#iefix') format('embedded-opentype'),
          url('https://cartedata.com/static/fonts/wotfard-medium-webfont.woff2') format('woff2'),
          url('https://cartedata.com/static/fonts/wotfard-medium-webfont.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }

  @font-face {
      font-family: 'wotfard';
      src: url('https://cartedata.com/static/fonts/wotfard-regular-webfont.eot');
      src: url('https://cartedata.com/static/fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('https://cartedata.com/static/fonts/wotfard-regular-webfont.woff2') format('woff2'),
          url('https://cartedata.com/static/fonts/wotfard-regular-webfont.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
      font-family: 'wotfard';
      src: url('https://cartedata.com/static/fonts/wotfard-semibold-webfont.eot');
      src: url('https://cartedata.com/static/fonts/wotfard-semibold-webfont.eot?#iefix') format('embedded-opentype'),
          url('https://cartedata.com/static/fonts/wotfard-semibold-webfont.woff2') format('woff2'),
          url('https://cartedata.com/static/fonts/wotfard-semibold-webfont.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
  }

  @font-face {
      font-family: 'silka-mono';
      src: url('https://cartedata.com/static/fonts/silkamono-regular-webfont.eot');
      src: url('https://cartedata.com/static/fonts/silkamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('https://cartedata.com/static/fonts/silkamono-regular-webfont.woff2') format('woff2'),
          url('https://cartedata.com/static/fonts/silkamono-regular-webfont.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
      font-family: 'silka-mono';
      src: url('https://cartedata.com/static/fonts/silkamono-semibold-webfont.eot');
      src: url('https://cartedata.com/static/fonts/silkamono-semibold-webfont.eot?#iefix') format('embedded-opentype'),
          url('https://cartedata.com/static/fonts/silkamono-semibold-webfont.woff2') format('woff2'),
          url('https://cartedata.com/static/fonts/silkamono-semibold-webfont.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
  }
}

body {
  @apply bg-cream;
  /* @apply font-sans; */
}

.grad-underline {
  @apply bg-no-repeat;
  @apply bg-gradient-to-r;
  @apply from-green-300;
  @apply to-blue-400;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.fadeout-right {
  mask-image: linear-gradient(to right, black 75%, transparent 90%);
}

h1, h2, h3, h4, h5, h6, p, span {
  @apply text-gray-800;
}
